
/* ******* Styles for the Header************* */
.centered-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.bouncy-img {
  width: 5%;
  height: 5%; 
}
  
.bouncy-img:hover {
  animation: bounce 1s;
}

/* ******************** */
